@use '../abstract/variables' as *;

html {
    --total-view-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
    min-height: var(--total-view-height);
    width: 100%;

    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: $white-smoke;

    min-height: var(--total-view-height);
    width: 100%;
    overflow-x: hidden;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: -1000;

        background-image: url(@assets/images/background.png);
        background-repeat: repeat;
        background-size: 400px;

        opacity: 0.3;
    }
}

button {
    cursor: pointer;
}

.wp-site-blocks {
    min-height: var(--total-view-height);
}

*[id]{
    scroll-margin-top: 45vh;
}