<!-- wp:template-part {"slug":"site-header","theme":"vbuchara-portfolio","area":"header"} /-->

<!-- wp:vbuchara-portfolio/section {"styles":{"grid":{"gridTemplateColumns":"min(83.33vw, 120rem)","gridTemplateRows":"auto","gridAutoFlow":"row","gridAutoColumns":"1fr","gridAutoRows":"auto","rowGap":"clamp(3rem, 3.472vw, 5rem)","columnGap":"0px","justifyContent":"center","alignContent":"normal","justifyItems":"normal","alignItems":"normal"},"padding":{"paddingBlock":"clamp(3rem, 3.472vw, 5rem)","paddingBlockStart":"","paddingBlockEnd":""},"minHeight":"none"}} -->
<!-- wp:vbuchara-portfolio/archive-header {"titleText":"\u003cspan style=\u0022\u002d\u002dbackground-image: linear-gradient(-180deg, #8789c0ff 0%, #14003fff 100%);\u0022 class=\u0022portfolio-formats__text-color\u0022\u003eMy Skills and Experiences\u003c/span\u003e","subtitleText":"\u003cspan style=\u0022\u002d\u002dcolor: #14003fff;\u0022 class=\u0022portfolio-formats__text-color\u0022\u003eI had a lot of experiences with work and study through my life. Here is listed all of them\u003c/span\u003e","styles":{"underline":{"underlineColor":"#8789c0ff","underlineGradient":null}}} /-->

<!-- wp:vbuchara-portfolio/archive-skills /-->
<!-- /wp:vbuchara-portfolio/section -->

<!-- wp:vbuchara-portfolio/section {"styles":{"grid":{"gridTemplateColumns":"clamp(36rem, 69.5vw, 100rem)","gridTemplateRows":"auto","gridAutoFlow":"row","gridAutoColumns":"1fr","gridAutoRows":"auto","rowGap":"clamp(3rem, 3.472vw, 5rem)","columnGap":"0px","justifyContent":"center","alignContent":"normal","justifyItems":"center","alignItems":"normal"},"padding":{"paddingBlock":"clamp(3rem, 3.472vw, 5rem)","paddingInline":""},"minHeight":"none"}} -->
<!-- wp:vbuchara-portfolio/heading {"textContent":"\u003cspan style=\u0022\u002d\u002dbackground-image: linear-gradient(-180deg, #8789c0ff 0%, #14003fff 100%);\u0022 class=\u0022portfolio-formats__text-color\u0022\u003eWork Experiences\u003c/span\u003e","styles":{"lineHeight":"1.5","whiteSpace":"normal","underlineColor":"#8789c0ff","underlineGradient":null}} /-->

<!-- wp:vbuchara-portfolio/experiences {"experiencesType":"work"} /-->
<!-- /wp:vbuchara-portfolio/section -->

<!-- wp:vbuchara-portfolio/section {"styles":{"grid":{"gridTemplateColumns":"clamp(36rem, 69.5vw, 100rem)","gridTemplateRows":"auto","gridAutoFlow":"row","gridAutoColumns":"1fr","gridAutoRows":"auto","rowGap":"clamp(3rem, 3.472vw, 5rem)","columnGap":"0px","justifyContent":"center","alignContent":"normal","justifyItems":"center","alignItems":"normal"},"padding":{"paddingBlock":"clamp(3rem, 3.472vw, 5rem)","paddingInline":""},"minHeight":"none"}} -->
<!-- wp:vbuchara-portfolio/heading {"textContent":"\u003cspan style=\u0022\u002d\u002dbackground-image: linear-gradient(-180deg, #8789c0ff 0%, #14003fff 100%);\u0022 class=\u0022portfolio-formats__text-color\u0022\u003eEducational Experiences\u003c/span\u003e","styles":{"lineHeight":"1.5","whiteSpace":"normal","underlineColor":"#8789c0ff","underlineGradient":null}} /-->

<!-- wp:vbuchara-portfolio/experiences {"experiencesType":"educational"} /-->
<!-- /wp:vbuchara-portfolio/section -->

<!-- wp:template-part {"slug":"site-footer","theme":"vbuchara-portfolio","area":"footer"} /-->