@use "@styles/abstract/variables" as *;
@use "@styles/abstract/mixins" as *;
@use "@styles/abstract/breakpoints" as *;

@use "@styles/components/editor-underline-settings" as *;

.portfolio-archive-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    row-gap: 2rem;

    justify-content: center;
    justify-items: center;

    &__title {
        text-align: center;
        line-height: 1.5;
        font-size: clamp(var(--text-lg), 4.26vw + 0.5rem, var(--text-xxl));
        
        position: relative;

        @include editor-underline-settings-variables();
    }

    &__subtitle {
        text-align: center;
        line-height: 1;
        font-size: clamp(var(--text-md) + 2px, 2.18vw + 0.5rem, var(--text-lg));

        position: relative;
    }
}