@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../abstract/functions" as *;

.menu-link {
    --color: #{$white-smoke};
    --focus-visible-outline-color: #{$penn-red};

    color: var(--color);
    font-weight: 600;
    font-size: inherit;

    @include underline-hover-animation();
}