@use "@styles/abstract/variables" as *;
@use "@styles/abstract/mixins" as *;
@use "@styles/abstract/breakpoints" as *;

$mixin-only: false !default;

@mixin skill-card(
    $animated: true,
    $separate-front-and-back: false
){
    $card-selector: &;
    $card-id: unique-id();

    --background-color: #{$russian-violet};
    --color: #{$white-smoke};
    --border-radius: 10px;
    --focus-visible-outline-color: #{$penn-red};

    width: clamp(13.5rem, 17.361vw, 25rem);
    height: clamp(13.5rem, 17.361vw, 25rem);

    position: relative;

    border-radius: var(--border-radius);

    &:nth-child(4n + 1) {
        --background-color: #{$russian-violet};
    }

    &:nth-child(4n + 2) {
        --background-color: #{$penn-red};
        --focus-visible-outline-color: #{$russian-violet};
    }

    &:nth-child(4n + 3) {
        --background-color: #{$salmon-pink};
        --focus-visible-outline-color: #{$russian-violet};
    }

    &:nth-child(4n + 4) {
        --background-color: #{$cool-gray};
    }

    &:nth-child(n + 5) {
        display: none;
        visibility: hidden;
        pointer-events: none;

        @include media-breakpoint-md {
            display: block;
            visibility: visible;
            pointer-events: auto;
        }
    }

    &-front {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-block-start: 1.5rem;
        padding-block-end: 1.5rem;
        padding-inline: clamp(1rem, 2.44vw, 3.5rem);

        background-color: var(--background-color);

        border-radius: var(--border-radius);

        @include box-shadow("default");

        @include media-breakpoint-md {
            gap: clamp(0px, 1.39vw, 2rem);

            padding-block-start: 2.4rem;
            padding-block-end: 1rem;
        }

        &-icon {
            color: var(--color);
            width: clamp(5rem, 10.417vw, 15rem);
            height: clamp(5rem, 10.417vw, 15rem);
        }

        &-title {
            color: var(--color);
            font-size: clamp(2.4rem, 2.5vw, 3.6rem);
            white-space: nowrap;
        }
    }

    &-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        background-color: var(--background-color);

        padding-block: 1.5rem;
        padding-inline: clamp(0.2rem, 0.695vw, 1rem);

        border-radius: var(--border-radius);

        @include box-shadow("default");

        &-title,
        &-link {
            color: var(--color);
            font-size: clamp(1.4rem, 1.806vw, 2.6rem);
            font-weight: 600;
        }

        &-title {
            text-align: center;
            line-height: 1.1;
        }

        &-link {
            text-decoration: none;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;

            margin-block-start: auto;

            &:focus-visible {
                outline-offset: 2px;
                outline-width: 3px;
                outline-style: solid;
                outline-color: var(--focus-visible-outline-color);
            }

            @include underline-hover-animation();
        }

        &-icon {
            color: var(--color);
            width: clamp(4rem, 6.95vw, 10rem);
            height: clamp(4rem, 6.95vw, 10rem);
        }
    }

    @if($animated == true){
        &--animated {
            #{$card-selector}-front {
                animation-name: flip-to-front-#{$card-id};
                animation-duration: 0.5s;
                animation-timing-function: linear;
    
                z-index: 1;
                rotate: y 0deg;
                will-change: rotate;
            }
    
            #{$card-selector}-back {
                animation-name: flip-to-back-#{$card-id};
                animation-duration: 0.5s;
                animation-timing-function: linear;
    
                z-index: -1;
                rotate: y 180deg;
                will-change: rotate;
            }
    
            &:hover,
            &:focus,
            &:focus-within {
                #{$card-selector}-front {
                    animation-name: flip-to-back-#{$card-id};
                    animation-duration: 0.5s;
                    animation-timing-function: linear;
    
                    z-index: -1;
                    rotate: y 180deg;
                }
    
                #{$card-selector}-back {
                    animation-name: flip-to-front-#{$card-id};
                    animation-duration: 0.5s;
                    animation-timing-function: linear;
    
                    z-index: 1;
                    rotate: y 360deg;
                }
            }
        }
    
        @keyframes flip-to-front-#{$card-id} {
            0% {
                rotate: y 180deg;
                z-index: -1;
            }
    
            50% {
                rotate: y 270deg;
                z-index: -1;
            }
    
            51% {
                z-index: 1;
            }
    
            100% {
                rotate: y 360deg;
                z-index: 1;
            }
        }
    
        @keyframes flip-to-back-#{$card-id} {
            0% {
                rotate: y 0deg;
                z-index: 1;
            }
    
            50% {
                rotate: y 90deg;
                z-index: 1;
            }
    
            51% {
                z-index: -1;
            }
    
            100% {
                rotate: y 180deg;
                z-index: -1;
            }
        }

    }

}

@if ($mixin-only == false){
    .skill-card {
        @include skill-card();
    }
}