@use "@styles/abstract/variables" as *;
@use "@styles/abstract/mixins" as *;
@use "@styles/abstract/breakpoints" as *;

@use "@styles/components/menu-link";
@use "@styles/components/popover";

.site-footer {
    --background-color: #{$russian-violet};
    --color: #{$white-smoke};
    --focus-visible-outline-color: #{$penn-red};

    position: sticky;
    top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;

    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    justify-items: center;
    row-gap: 3rem;

    padding-block: 2rem;

    background-color: var(--background-color);

    @include media-breakpoint-md {
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        align-items: center;
        column-gap: clamp(2rem, 6.5vw, 14rem);
    }

    &__logo {
        display: block;
        outline-width: 0px;
        outline-color: var(--focus-visible-outline-color);
        outline-style: solid;

        &:focus-visible {
            outline-width: 2px;
            outline-offset: 2px;
        }

        &-image {
            width: 100%;
            height: auto;
            max-width: 300px;
            aspect-ratio: 3 / 2;
        }
    }

    &__menu {
        &-items {
            list-style: none;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        &-item {
            --color: #{$white-smoke};

            &-link {
                --color: inherit;
                --focus-visible-outline-color: inherit;
                @extend .menu-link;

                font-size: 2.4rem;
            }
        }
    }

    &__social-contact {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &-title {
            color: var(--color);
            font-size: 3rem;
            text-align: center;
        }

        &-items {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 2rem;

            @include media-breakpoint-md {
                justify-content: start;
            }
        }

        &-item {
            &-link {
                $social-contact-item-link-selector: &;
                display: block;
                position: relative;

                border: 0;
                background-color: transparent;

                outline-width: 0px;
                outline-color: var(--focus-visible-outline-color);
                outline-style: solid;
                
                &:focus-visible {
                    outline-width: 2px;
                    outline-offset: 2px;
                }

                &--copied {
                    #{$social-contact-item-link-selector}-popover {
                        scale: 1;
                        visibility: visible;
                        pointer-events: all;
                    }
                }

                &--animate {
                    @include highlight-animation(
                        $outline-width: 3px,
                        $animation-delay: 2s
                    );
                }

                &-popover {
                    @extend .portfolio-popover;
                    
                    scale: 0;
                    visibility: hidden;
                    pointer-events: none;
                    cursor: default;
                    user-select: none;
                }
            }

            &-icon {
                fill: var(--color);
            }
        }
    }

    &__copyright {
        color: var(--color);
        font-size: 1.6rem;
        font-weight: 500;
        text-align: center;

        @include media-breakpoint-md {
            grid-column: 3 span;
        }
    }
}